body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  background-image: url('background.jpg'); /* Add your image file path */
  background-size: cover;
  background-position: center;
  }
  
  .container {
    width: 90%;
    max-width: 960px;
    background-color: #161616de;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:white;
  }
  
  header {
    background-color: #333;
    text-align: center;
    padding: 1rem 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  h1, h2 {
    margin-top: 0;
  }
  
  h2 {
    margin-bottom: 0.5rem;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #790101;
    text-decoration: none;
    border-radius: 4px;
    color:white;
    transition: background-color 0.3s ease;
   
  }
 .master {
    background-color:green;
 } 
 .highlight {
    background-color:blueviolet;
 }
 .normal-link {
    background-color:transparent;
    text-decoration: underline;
    text-decoration-color:#e69e19;
    padding:0;
  }
  a:hover {
    background-color: #e69e19;
  }